@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d3557;
}

/* --------------TOP MENU---------------- */

.menu {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #1d3557;
  justify-content: space-between;
}

.div-logo {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  margin-left: 20px;
}

#logo {
  width: 100px;
}

nav {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
}

.nav-item {
  width: 100px;
  text-align: center;
  color: #457b9d;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition-duration: 0.3s;
}

.nav-item:hover {
  font-size: 15px;
  transition-duration: 0.3s;
}

/* -------------- PHOTOS ---------------- */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.item img {
  height: 240px;
  width: 350px;
  margin: 5px;
  transition-duration: 0.8s;
  border-radius: 5px;
}

.item img:hover {
  height: 300px;
  width: 410px;
  transition-duration: 0.8s;
}

/* -------------- FOOTER ---------------- */

footer {
  width: 100%;
  height: 100px;
  background-color: #1d3557;
  font-family: "Poppins", sans-serif;
}

span {
  margin-left: 170px;
  padding: 30px 0;
  color: #457b9d;
}

/* -------------- ABOUT ---------------- */

.container-about {
  display: flex;
  height: 600px;
  width: 1000px;
  align-items: center;
  background-color: rgba(168, 218, 220, 0.2);
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.photo-about {
  width: 400px;
  height: 500px;
  background-image: url(../img/photos/F1000030.jpeg);
  background-size: cover;
  background-position: -5vmin;
}

.text-about {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 50px;
  color: #457b9d;
}

p {
  font-size: 15px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  color: #f1faee;
}

@media only screen and (max-width: 600px) {
  .container-about {
    width: 400px;
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }

  .text-about {
    width: 400px;
    height: 200px;
    gap: 10px;
  }

  p {
    font-size: 10px;
  }
}

/* -------------- CONTACT ---------------- */

.form-box {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 600px;
  align-items: center;
  background-color: rgba(168, 218, 220, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 30px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 7px;
  justify-content: center;
}

textarea {
  width: 300px;
  height: 200px;
}

button {
  border-radius: 5px;
  height: 30px;
  border: none;
  background-color: #457b9d;
  font-family: "Poppins", sans-serif;
  color: #f1faee;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
